<section *ngIf="!identificado" id="login">

  <form #formIngreso="ngForm" (ngSubmit)="onSubmit()" class="formLog">

    <h1 class="logTit">LOGIN PACIENTE</h1>
    <a class="signInTitle" [routerLink]="['/logInDoctor']"><h2 class="titleSign">Doctor</h2></a>
    <a class="signInTitle" [routerLink]="['/logInPaciente']"><h2 class="titleSign">Paciente</h2></a>

    <!--<span *ngIf="usuario.touched && !usuario.valid" [ngStyle]="{'color':'red', 'font-size':'14px', 'margin':'20px'}">*LLenar bien</span>-->
    <input class="btn-frontend-input-login" type="text" placeholder="usuario" name="usuario" #usuario="ngModel" [(ngModel)]="listaUsuarios.usuario" autocomplete="username" required>

    <input class="btn-frontend-input-login" type="password" placeholder="contraseña" name="password" #password="ngModel" [(ngModel)]="listaUsuarios.password" autocomplete="current-password">

    <!--<span *ngIf="password.touched && !password.valid" [ngStyle]="{'color':'red', 'font-size':'14px', 'margin':'20px'}">*LLenar bien</span>-->
    <div class="btnLogin">
      <input type="submit" name="Enviar" class="btn-frontend-login">
      <a [routerLink]="['/']"><button class="btn-frontend-login">Menu Principal</button></a>
    </div>

    <div *ngIf="validarIngreso">

      <div class="responseLogin">{{mensaje}}</div>

    </div>



  </form>



</section>