<section *ngIf="!identificado" id="signin">

  <form class="formLog">

    <h1>REGISTRARSE</h1>
    <a class="signInTitle" [routerLink]="['/logInDoctor']"><h2 class="titleSign">Login</h2></a>

    <!--<span *ngIf="usuario.touched && !usuario.valid" [ngStyle]="{'color':'red', 'font-size':'14px', 'margin':'20px'}">*LLenar bien</span>-->
    <input class="btn-frontend-input-signin" type="text" placeholder="nombre" name="usuario" autocomplete="username" required>

    <input class="btn-frontend-input-signin" type="password" placeholder="contraseña" name="password" autocomplete="current-password">

    <input class="btn-frontend-input-signin" type="password" placeholder="confirmar contraseña" name="password">

    <input class="btn-frontend-input-signin" type="text" placeholder="correo" name="usuario" autocomplete="username" required>

    <input class="btn-frontend-input-signin" type="password" placeholder="direccion" name="password" autocomplete="current-password">

    <select class="btn-frontend-input-signin" name="estado">
      <option value="estado" selected disabled>Selecciona un estado</option>
      <option value="saab">Saab</option>
      <option value="mercedes">Mercedes</option>
      <option value="audi">Audi</option>
    </select>

    <input class="btn-frontend-input-signin" type="password" placeholder="telefono" name="password" autocomplete="current-password">

    <input class="btn-frontend-input-signin" type="password" placeholder="cp" name="password">

    <!--<span *ngIf="password.touched && !password.valid" [ngStyle]="{'color':'red', 'font-size':'14px', 'margin':'20px'}">*LLenar bien</span>-->
    <div class="btnsignin">
      <input type="submit" name="Enviar" class="btn-frontend-signin">
      <a [routerLink]="['/']"><button class="btn-frontend-signin">Menu Principal</button></a>
    </div>



  </form>



</section>
