<section id="login">

  <form class="formLog">

    <h1>Registro de Pacientes</h1>
    <a class="signInTitle" [routerLink]="['/logInDoctor']"><h2 class="titleSign">Login</h2></a>

    <!--<span *ngIf="usuario.touched && !usuario.valid" [ngStyle]="{'color':'red', 'font-size':'14px', 'margin':'20px'}">*LLenar bien</span>-->
    <input class="btn-frontend-input-signin" type="text" placeholder="nombre" name="nombre"  required>

    <input class="btn-frontend-input-signin" type="text" placeholder="apellido" name="apellido" required>

    <input class="btn-frontend-input-signin" type="text" placeholder="No. Seguro" name="seguro" required>

    <input class="btn-frontend-input-signin" type="text" placeholder="Poliza de Seguro" name="poliza"  required>

    <!--<span *ngIf="password.touched && !password.valid" [ngStyle]="{'color':'red', 'font-size':'14px', 'margin':'20px'}">*LLenar bien</span>-->
    <div class="btnsignin">
      <input type="submit" name="Enviar" class="btn-frontend-signin">
    </div>

  </form>



</section>
